name: manual_approval

env:
  JFROG_CLI_BUILD_PROJECT: ${{ vars.PROJECT_NAME }}

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: app version to validate
        type: string


permissions:
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        id: setup-cli
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://${{ vars.JF_HOST }}/
          JF_PROJECT: ${{ vars.JF_PROJECT_KEY }}
        with:
          oidc-provider-name: github-maxenceb
          oidc-audience: maxenceb-github

      - name: Evidence on release bundle
        run: |
          echo '{ "actor": "${{ github.actor }}", "status": "approved" }' > approval.json
          
          echo "$PRIVATE_KEY_CONTENT" > evidence.key
          chmod 600 evidence.key
          
          jf evd create --predicate approval.json \
            --predicate-type https://jfrog.com/evidence/approval/v1 \
            --package-name sample-app \
            --package-version  ${{ inputs.version }}\
            --package-repo-name maxence-oci-dev-local \
            --key evidence.key \
            --key-alias evd-key-20260225-165218

