name: promote_to_prod

env:
  JFROG_CLI_BUILD_PROJECT: ${{ vars.PROJECT_KEY }}

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: app version to validate
        type: string

permissions:
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        id: setup-cli
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://${{ vars.JF_HOST }}/
          JF_PROJECT: ${{ vars.JF_PROJECT_KEY }}
        with:
          oidc-provider-name: github-maxenceb
          oidc-audience: maxenceb-github

      - name: Setup OPA
        uses: open-policy-agent/setup-opa@v2
        with:
          version: latest

      - name: Query evidence API
        run : |
          jf evd get --subject-repo-path maxence-oci-dev-local/sample-app/${{ inputs.version }}/list.manifest.json --output evidence-graph.json
          cat ./evidence-graph.json

      - name: Check mandatory evidence
        run: |
          opa eval --input ./evidence-graph.json --data ./policy/policy.rego "data.policy.output" | jq '.result[0].expressions[0].value'  > policy.json
          cat policy.json
          result=$(jq .approved ./policy.json)
          
          if [ $result == "true" ]; then
            echo "All mandatory evidence have been found"
          else
            echo "Fail promotion policy check"
            exit 1
          fi

      - name: Promote release bundle to prod
        run: |
          jf rt docker-promote sample-app maxence-oci-dev-local maxence-oci-prod-local --source-tag ${{ inputs.version }} --copy
